<h1>MainPages#code</h1>
<p>Find me in app/views/main_pages/code.html.erb</p>
<% content_for(:sidebar) do %>
    This is the sidebar for the code page.
    <br>
    <%= render 'slideshow', :arg => "my slideshow argument" %>
<% end %>
