<h1>MainPages#blog</h1>
<p>Find me in app/views/main_pages/home.html.erb</p>
<% content_for(:sidebar) do %>
    This is the sidebar for the home page.
    <br>
    <%= render 'links', :link_keys => %w[blog resume sharc publications] %>
    <br>
    <%= render 'blog' %>
    <br>
    <%= render 'slideshow', :arg => "my slideshow argument" %>
<% end %>
